{% extends "../courseMentorBlock/blockBase.html" %}
{% load static %}
{% load widget_tweaks %}


{%block courseBlock%}

<div class="jumbotron" style="height:85vh;">
    <div class="container" align="center">
        <h2>{{question}}</h2>
        <br>
        <form class="login" action="" method="post" >
            {% csrf_token %}

            <div class="form-group" >
                {% render_field form.answer class+="password required form-control" placeholder+="answer" %}
            </div>       
            <div class="form-group" >
                <h6>Assign marks: </h6>
                {% render_field form.marks class+="password required form-control" %}
            </div> 
            <div class="form-group" >
                {% render_field form.type class+="password required form-control"  %}
            </div>       
            <div class="form-group">
              <input type="submit" class="btn btn-primary" name="submit" value="Continue">
            </div>
            </form>
  
    </div>
</div>

{%endblock%}