{% extends "../courseMentorBlock/blockBase.html" %}
{% load static %}
{% load widget_tweaks %}


{%block courseBlock%}

<div class="jumbotron" style="height:85vh;">
    <div class="container" align="center">
        <h2>Select questions to add to database</h2>
        <br>
        <form class="login" action="" method="post" >
            {% csrf_token %}
            <div class="form-group" >
                {% render_field form.possible_qs style="list-style-type: none;" %}
            </div>       
            <div class="form-group">
              <input type="submit" class="btn btn-primary" name="submit" value="Continue">
            </div>
            </form>
  
    </div>
</div>

{%endblock%}