{% extends "../postFacLoginBase.html" %}
{% load static %}

{% block headContent %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}

{% block bodyContent %}

<div class="container-fluid h-100">
    <div class="row h-100">
        <aside class="col-12 col-md-2 p-0 bg-light">
            <nav style="position:sticky" class="navbar navbar-expand navbar-light bg-light flex-md-column flex-row align-items-start py-2" align="left">
                <div class="collapse navbar-collapse">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link pl-0 text-nowrap" href="#"><i class="fa fa-bullseye fa-fw"></i> <span class="font-weight-bold">Home</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="/faculty/create/exam/{{details.courseCode}}"><i class="fas fa-chalkboard-teacher"></i> <span class="d-none d-md-inline">Create exam</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fas fa-chart-bar"></i> <span class="d-none d-md-inline">Check Grades</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="/faculty/resources/{{details.courseCode}}/addQuestion"><i class="fas fa-book-open"></i> <span class="d-none d-md-inline">Update Resourses</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fas fa-user-friends"></i> <span class="d-none d-md-inline">Discussion Forum</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        <main class="col bg-faded py-3 h-100">
            {%block courseBlock%}{%endblock%}
            
        </main>
    </div>
</div>
{% endblock %}