{% extends "postLoginBase.html" %}
{% load static %}

{% block bodyContent %}
    <br/>
    <h2> Welcome , {{name}}.</h2>
    <br>
    <p style="color:black;"> Your details : {{iduser}} </p>
    <p> </p>
    <div class="container" align="center">
        {% if courses_taken.count != 0 %}
            <p style="color:black">Your courses</p>
            <div class="row" >
            {% for course in courses_taken %}
                <!--<div class="jumbotron col-md-4 col-md-offset-1">
                    <p></p>
                    <h4 style="color:black;"> Course : {{course}} </h4>
                    <img class="container-fluid" style='height: 100%; width: 100%; object-fit: contain' src={{course.link}}>
                    <a href="#" class="btn btn-primary">Resume</a>
                    <p> </p>
                </div>
                <div class="col-md-1">
                
                </div>-->
                <div class="container col-md-4" style="padding-bottom:  20px;object-fit: contain;">
                    <div class="card " style="width: 18rem;">
                        <img class="card-img-top" src={{course.link}} style="height:200px" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{course}}</h5>
                            <p class="card-text">"{details_here}"</p>
                            <a href="/course/block/{{course.courseCode}}" class="btn btn-primary">Resume</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <p style="color:black">You are not enrolled in any courses</p>
        {% endif %}
    </div>

{% endblock %}
